body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scoreInterface * {
    display: inline-block;
}

#spacing {
    padding-bottom: 65px;
}

#playerArena {
    /*padding-top: 65px;*/
    width: 600px;
    height: 395px;
    /*background-color: #a00000;*/
    user-drag: none;
    user-select: none;
    position: relative;
}

#playground {
    border: 1px solid #a0a0a0;
    width: 600px;
    height: 500px;
    position: relative;
}

#world {
    position: absolute;
    /*bottom: 0px;*/
    -moz-user-select: none;
    user-drag: none;
    user-select: none;
    cursor: none !important;
}



#overlay {
    position: absolute;
    bottom: 0px;
    height: 392px;
    width: 0px;
    background-color: rgba(255, 0, 0, .5);
}

#go {
    position: relative;
    top: 200px;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid red;
    background-color: #a00000;;
    color: #fff;
    visibility: hidden;
}

#vir {
    position: absolute;
    top: 150px;
    left: 300px;
    background: url(../images/Corona.png) no-repeat;
    background-size: cover;
    /*background-color: #a00000;*/
    width: 80px;
    height: 80px;
    transform-origin: 0% 0% 0;
    cursor: none !important;
    /*user-drag: none;*/
    /*user-select: none;*/
}

#ch {
    position: absolute;
    top: 150px;
    left: 400px;
    background: url(../images/cr.png) no-repeat;
    background-size: cover;
    /*background-color: #a00000;*/
    width: 50px;
    height: 50px;
    pointer-events: none;
    z-index: 10;
    /*transform-origin: right bottom;*/
}

#controlHint{

}
